In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
import ujson as json

In [2]:
rawDataDf = pd.read_csv("/home/alextay96/Desktop/personal_workspace/segment_ocr_payslip/data/example - example.csv")

In [3]:
rawDataDf = rawDataDf[["content", "label"]]

In [4]:
rawDataDf.rename(columns={"content" : 'text'}, inplace=True)

In [5]:
rawDataDf

                text              label
0         MICRO MART  companyName_value
1          SwipeWire  companyName_value
2      SecureSmarter  companyName_value
3         Dwellsmith  companyName_value
4           SalePush  companyName_value
...              ...                ...
1550  710908-NM-0341           IC_value
1551  070208-TY-1849           IC_value
1552  030204-MK-6127           IC_value
1553  681227-ZD-9085           IC_value
1554  950127-II-5689           IC_value

[1555 rows x 2 columns]

In [6]:
catMapping = {}
for i , l in enumerate(rawDataDf["label"].unique().tolist()):
    catMapping[l] = i
catMapping

{'companyName_value': 0,
 'companyName_key': 1,
 'employeeName_key': 2,
 'employeeId_value': 3,
 'employeeId_key': 4,
 'IC_key': 5,
 'employeeName_value': 6,
 'payDate_key': 7,
 'payDate_value': 8,
 'netPay_key': 9,
 'netPay_value': 10,
 'reject': 11,
 'IC_value': 12}

In [7]:
rawDataDf["label_id"] = rawDataDf["label"].apply(lambda x : catMapping[x])

In [8]:
evalDf = rawDataDf.groupby("label").sample(frac=0.2)

trainDf = rawDataDf[~rawDataDf["text"].isin(evalDf["text"])]
assert set(trainDf["text"].tolist()).isdisjoint(evalDf["text"].tolist())

In [9]:
trainDf.to_csv("train.csv")
evalDf.to_csv("eval.csv")

In [10]:
evalDf["label"].value_counts()

employeeName_value    42
companyName_key       40
IC_key                22
IC_value              22
netPay_value          22
employeeName_key      21
payDate_key           21
payDate_value         21
companyName_value     20
employeeId_key        20
employeeId_value      20
netPay_key            20
reject                20
Name: label, dtype: int64

In [11]:
trainDf.to_json(path_or_buf="train.json", orient="records")
evalDf.to_json(path_or_buf="eval.json",orient="records")

# with open("train.json", "w") as f:
#     json.dumps(trainJson, f, indent=4) 
# with open("test.json", "w") as f:
#     json.dumps(evalJson, f, indent=4)

In [12]:
rawDataDf["label_id"].value_counts()

6     209
1     202
5     112
10    108
12    108
2     107
7     105
8     104
4     102
11    101
3     100
0      99
9      98
Name: label_id, dtype: int64