In [14]:
import pandas as pd
from sklearn.model_selection import train_test_split
import ujson as json

In [15]:
rawDataDf = pd.read_csv("/home/alextay96/Desktop/all_workspace/personal_workspace/segment_ocr_payslip/data/example - example.csv")

In [16]:
rawDataDf = rawDataDf[["content", "label"]]

In [17]:
rawDataDf["label"].value_counts()

employeeName_value    209
companyName_key       202
IC_key                112
netPay_value          108
IC_value              108
employeeName_key      107
payDate_key           105
payDate_value         104
employeeId_key        102
reject                101
employeeId_value      100
companyName_value      99
netPay_key             98
Name: label, dtype: int64

In [18]:
excludeCls = ["employeeId_value", "employeeId_key"]
rawDataDf = rawDataDf[~rawDataDf["label"].isin(excludeCls)]

In [19]:
rawDataDf.rename(columns={"content" : 'text'}, inplace=True)

In [20]:
rawDataDf

                text              label
0         MICRO MART  companyName_value
1          SwipeWire  companyName_value
2      SecureSmarter  companyName_value
3         Dwellsmith  companyName_value
4           SalePush  companyName_value
...              ...                ...
1550  710908-NM-0341           IC_value
1551  070208-TY-1849           IC_value
1552  030204-MK-6127           IC_value
1553  681227-ZD-9085           IC_value
1554  950127-II-5689           IC_value

[1353 rows x 2 columns]

In [21]:
catMapping = {}
for i , l in enumerate(rawDataDf["label"].unique().tolist()):
    catMapping[l] = i
catMapping

{'companyName_value': 0,
 'companyName_key': 1,
 'employeeName_key': 2,
 'IC_key': 3,
 'employeeName_value': 4,
 'payDate_key': 5,
 'payDate_value': 6,
 'netPay_key': 7,
 'netPay_value': 8,
 'reject': 9,
 'IC_value': 10}

In [22]:
rawDataDf["label_id"] = rawDataDf["label"].apply(lambda x : catMapping[x])

In [23]:
evalDf = rawDataDf.groupby("label").sample(frac=0.2)

trainDf = rawDataDf[~rawDataDf["text"].isin(evalDf["text"])]
assert set(trainDf["text"].tolist()).isdisjoint(evalDf["text"].tolist())

In [24]:
trainDf.to_csv("train.csv")
evalDf.to_csv("eval.csv")

In [25]:
evalDf["label"].value_counts()

employeeName_value    42
companyName_key       40
IC_key                22
IC_value              22
netPay_value          22
employeeName_key      21
payDate_key           21
payDate_value         21
companyName_value     20
netPay_key            20
reject                20
Name: label, dtype: int64

In [26]:
trainDf.to_json(path_or_buf="train.json", orient="records")
evalDf.to_json(path_or_buf="eval.json",orient="records")

# with open("train.json", "w") as f:
#     json.dumps(trainJson, f, indent=4) 
# with open("test.json", "w") as f:
#     json.dumps(evalJson, f, indent=4)

In [27]:
rawDataDf["label_id"].value_counts()

4     209
1     202
3     112
8     108
10    108
2     107
5     105
6     104
9     101
0      99
7      98
Name: label_id, dtype: int64